//output: index.html
doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='./css/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title new tab
    body
      .clock
        <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:540px;height:180px"src="https://www.clocklink.com/html5embed.php?clock=008&timezone=USA_LosAngeles&color=black&size=540&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=black"></iframe>
        
      //- .greetings
      //-   h1 Hello Sam.
      .wrapper
        a(href="https://www.twitch.tv/symfuhny").ga-twitch
        a(href="https://www.facebook.com/").ga-facebook
        a(href="https://www.pinterest.com/").ga-pinterest
        a(href="https://www.google.com/").ga-google
        a(href="https://www.youtube.com/").ga-youtube
        a(href="https://www.netflix.com/browse").ga-netflix
        a(href="https://kissanime.ru/").ga-kissanime
        a(href="https://instagram.com/").ga-IG
        .ga-img
        .ga-img

      
      
